In [1]:
import numpy as np

a = np.arange(8)
b = a[4:6]
b[:] = 40
c = a[4] + a[6]
print(c)

46

In [2]:
import re
s = 'ABCAC'

In [8]:
bool(re.match('A',s)) == True

True

In [9]:
def result():
    s = 'ACAABAACAAABACDBADDDFSDDDFFSSSASDAFAAACBAAAFASD'

    result = []
    # compete the pattern below
    pattern = 
    for item in re.finditer(pattern, s):
      # identify the group number below.
      result.append(item.group())
      
    return result

SyntaxError: invalid syntax (<ipython-input-9-1cbe9a84cac7>, line 6)

In [10]:
import pandas as pd

In [11]:
lst = [4,7,-5,3]
ind = ['d','b','a','c']
df = pd.DataFrame(lst,index=ind)
df

   0
d  4
b  7
a -5
c  3

In [12]:
df.iloc[0]

0    4
Name: d, dtype: int64

In [13]:
df.index[0]

'd'

In [14]:
# import pandas and numpy 
import pandas as pd
import numpy as np
 
# creating simple array
data = np.array(['g','e','e','k','s','f', 'o','r','g','e','e','k','s'])
ser = pd.Series(data,index=[10,11,12,13,14,15,16,17,18,19,20,21,22])

In [15]:
s1data = np.array([20,15,18,31])
s1 = pd.Series(s1data,index=['Mango','Strawberry','Blueberry','Vanilla'])
s1

Mango         20
Strawberry    15
Blueberry     18
Vanilla       31
dtype: int32

In [18]:
s2data = np.array([20,30,15,20,20])
s2 = pd.Series([20,30,15,20,20],index=['Strawberry','Vanilla','Banana','Mango','Plain'])
s2

Strawberry    20
Vanilla       30
Banana        15
Mango         20
Plain         20
dtype: int64

In [19]:
s3 = s1.add(s2)

In [20]:
s3

Banana         NaN
Blueberry      NaN
Mango         40.0
Plain          NaN
Strawberry    35.0
Vanilla       61.0
dtype: float64

In [21]:
s3['Blueberry'] == s1.add(s2, fill_value=0)['Blueberry']

False

In [23]:
s3['Mango'] >= s1.add(s2, fill_value = 0)['Mango']

True

In [24]:
S = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])

In [27]:
S[['b','c','d']]

b    1
c    2
d    3
dtype: int32

In [30]:
S[S <=3][S>0]

b    1
c    2
d    3
dtype: int32

In [29]:
S[1:4]

b    1
c    2
d    3
dtype: int32

In [31]:
# dictionary of lists 
dict = {'a':[5,55,71,67], 
        'b': [6,82,31,37], 
        'c':[20,28,92,49]} 
  
df = pd.DataFrame(dict,index=['R1','R2','R3','R4']) 
  
print(df)

     a   b   c
R1   5   6  20
R2  55  82  28
R3  71  31  92
R4  67  37  49

In [34]:
f = lambda   x:x.max() + x.min()
new_df = df.apply(f)
new_df

a     76
b     88
c    112
dtype: int64

In [37]:
# dictionary of lists 
dict = {'item':['i1','i1','i1','i2','i2','i2'], 
        'Store': ['A','B','C','A','B','C'], 
        'QuantitySold':[10.0,20.0,np.nan,5,10,15]} 
  
df = pd.DataFrame(dict) 
  
print(df)

  item Store  QuantitySold
0   i1     A          10.0
1   i1     B          20.0
2   i1     C           NaN
3   i2     A           5.0
4   i2     B          10.0
5   i2     C          15.0

In [38]:
df.groupby('item').sum().iloc[0]['QuantitySold']

30.0